@charset "UTF-8";
body {
  height: 100%;
  font-weight: normal;
  color: inherit; }

#wrap {
  height: 100%;
  /* background-color: red; */ }

/* 해더 */
header {
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: #fff;
  border-bottom: 3px solid black;
  z-index: 1000; }
header > .section-width {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1040px;
  flex-flow: nowrap row;
  justify-content: center; }
header > .section-width > a {
  transform: translate(0, -15%); }
header > .section-width > a:after {
  display: block;
  width: 75px;
  height: 25px;
  background: url(./../images/main/logo160629.png) no-repeat;
  background-size: 65px 20px;
  transform: translate(0, 125%);
  content: ''; }
header > .section-width > a > h1 {
  position: absolute;
  left: -9999px; }
header > .section-width .main-nav {
  width: 70%;
  line-height: 65px; }
header > .section-width .main-nav > .gnb {
  display: flex; }
header > .section-width .main-nav > .gnb > li {
  height: 65px; }
header > .section-width .main-nav > .gnb > li.active {
  font-weight: 600; }
header > .section-width .main-nav > .gnb > li > a {
  font-size: 13px;
  color: gray;
  padding-right: 10px;
  margin-left: 10px;
  border-right: 1px solid gray; }
header > .section-width .language {
  position: relative;
  margin-top: 21px;
  width: 135px; }
header > .section-width .language > p {
  position: absolute;
  left: 0;
  top: 0;
  height: 22px;
  width: 100%;
  padding-left: 5px;
  border: 1px solid gray;
  line-height: 22px;
  font-size: 10px; }
header > .section-width .language > p::before {
  position: absolute;
  left: 125px;
  top: 9px;
  display: block;
  width: 6px;
  height: 4px;
  background-image: url(./../images/main/spritePC200706.png);
  background-position: -897px 0;
  content: ''; }
header > .section-width .language > .tab {
  position: absolute;
  height: 22px;
  width: 140px;
  color: gray;
  display: flex;
  z-index: 1200; }
header > .section-width .language > .tab > .tap-content {
  width: 270px;
  top: 24px;
  display: flex; }
header > .section-width .language > .tab > .tap-content > ul {
  background-color: #fff;
  border: 1px solid grey;
  position: absolute;
  padding: 5px 0 0 0;
  height: 250px;
  top: 23px; }
header > .section-width .language > .tab > .tap-content > ul > li > a {
  display: block;
  width: 130px;
  margin: 0 5px 0 5px;
  line-height: 22px;
  font-size: 10px; }
header > .section-width .language > .tab > .tap-content > ul:first-child {
  right: 135px; }
header > .section-width .language > .tab > .tap-content > ul:last-child {
  right: -2px; }

.tap-content > ul > li.active > a, .tap-content > ul > li:hover > a {
  font-weight: 600;
  color: green; }

section {
  padding-top: 65px; }
section h2 {
  position: absolute;
  left: -9999px; }
section > .cont {
  height: 728px; }
section > .cont > div {
  width: 960px;
  height: 578px;
  margin: 0 auto; }
section > .cont > div > div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 100px 0 150px;
  display: flex; }
section > .cont > div > div > .left {
  width: 53%;
  margin-right: 1%;
  text-align: center;
  vertical-align: top; }
section > .cont > div > div > .left > h3 {
  font-size: 40px; }
section > .cont > div > div > .left > div {
  margin-top: 40px;
  width: 508px;
  height: 219px; }
section > .cont > div > div > .left > .store {
  margin-top: 34px; }
section > .cont > div > div > .left > .store > li {
  display: inline-block; }
section > .cont > div > div > .left > .apk {
  margin-top: 38px; }
section > .cont > div > div > .left > .apk > li {
  display: inline-block;
  margin: 0 20px;
  opacity: 0.5; }
section > .cont > div > div > .left > .apk > li:hover {
  opacity: 1; }
section > .cont > div > div > .left > .apk > li > a {
  padding: 24px 0;
  min-width: 94px;
  letter-spacing: -0.03px;
  text-align: center; }
section > .cont > div > div > .left > .apk > li > span {
  margin-top: 18px;
  color: gray;
  font-size: 14px;
  display: block; }
section > .cont > div > div > .right {
  width: 43%;
  margin-right: 1%;
  text-align: center;
  vertical-align: top; }
section > .cont > div > div > .right > h3 {
  font-size: 40px; }
section > .cont > div > div > .right > div {
  margin-top: 40px;
  width: 508px;
  height: 219px; }
section > .cont > div > div > .right > div img {
  transform: translateX(-30px); }
section > .cont > div > div > .right > .store {
  margin-top: 34px; }
section > .cont > div > div > .right > .store > li {
  margin-left: 40px;
  display: inline-block; }
section > .cont > div > div > .right > .apk {
  margin-top: 38px; }
section > .cont > div > div > .right > .apk > li {
  display: inline-block;
  margin: 0 15px 0 0;
  opacity: 0.5; }
section > .cont > div > div > .right > .apk > li:hover {
  opacity: 1; }
section > .cont > div > div > .right > .apk > li > a {
  padding: 24px 0;
  min-width: 94px;
  letter-spacing: -0.03px;
  text-align: center; }
section > .cont > div > div > .right > .apk > li > span {
  margin-top: 18px;
  color: gray;
  font-size: 14px;
  display: block; }
section > .cont > div > div > .right > p {
  font-size: 12px;
  margin-top: 20px;
  color: gray;
  opacity: 0.5;
  text-decoration-line: underline; }
section > .cont > div > div > .right > p:hover {
  color: gray;
  opacity: 1; }

footer {
  width: 100%;
  background-color: #3b3b3b; }
footer > h3 {
  position: absolute;
  left: -9999px; }
footer .foot_wrap {
  width: 960px;
  margin: 0 auto;
  padding: 26px 0 28px; }
footer .foot_wrap > .page_link > ul {
  display: flex;
  flex-flow: wrap row;
  color: #83827a;
  font-size: 12px;
  line-height: 1.5; }
footer .foot_wrap > .page_link > ul > li:first-child > a {
  padding-left: 0; }
footer .foot_wrap > .page_link > ul > li > a {
  padding: 0 8px;
  color: #83827a; }
footer .foot_wrap > .md_link > ul {
  *zoom: 1; }
footer .foot_wrap > .md_link > ul::after {
  display: block;
  clear: both;
  content: ''; }
footer .foot_wrap > .md_link > ul > li {
  float: left;
  width: 28px;
  height: 28px;
  margin: 20px 20px 20px 0; }
footer .foot_wrap > .md_link > ul > li:first-child > a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: url(./../images/main/spritePC200706.png) no-repeat;
  background-size: cover cover;
  background-position: -1050px -3px; }
footer .foot_wrap > .md_link > ul > li:last-child > a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: url(./../images/main/spritePC200706.png) no-repeat;
  background-size: cover cover;
  background-position: -818px -1px; }
footer .foot_wrap p {
  color: #83827a;
  font-size: 12px;
  font-weight: 800; }

/*# sourceMappingURL=app.css.map */
