<footer>
  <div class="container">
    <nav>
      <h2 class="sr-only">하단메뉴</h2>
      <p class="fnb">
        <a href="#">도움말 <span class="bar">|</span></a>
        <a href="#">이용약관 <span class="bar">|</span></a>
        <a href="#">개인정보 처리방침 <span class="bar">|</span></a>
        <a href="#">LINE Social Plugins <span class="bar">|</span></a>
        <a href="#">LINE Creators Market <span class="bar">|</span></a>
        <a href="#">LINE 로고 사용 가이드 <span class="bar">|</span></a>
        <a href="#">LINE 파트너 <span class="bar">|</span></a>
        <a href="#">LINE 블로그 <span class="bar">|</span></a>
        <a href="#">채용정보 <span class="bar">|</span></a>
      </p>
    </nav>
    <address>&copy;Designed by Beckia</address>
  </div>
</footer>
</div>
</body>

</html>